<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/scripts.js"></script>
    <link rel="shortcut icon" href="../images/msLogo.png">
  </head>
  <body>
    <div class="nav-bar">
      <div class="nav-logo">
        <a href="./index.html"><img src="../images/msLogo.png" alt="Marcus Sakoda Logo"></a>
      </div>
      <div class="nav-items">
        <div class="nav-item">
          <a href="./about.html">About</a>
        </div>
        <div class="nav-item">
          <a href="./gallery.html">Gallery</a>
        </div>
        <div class="nav-item">
          <a href="./commission.html">Commission</a>
        </div>
        <div class="nav-item">
          <a href="./contact.html">Contact</a>
        </div>
      </div>

    </div>

  </body>
</html>
