<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Marcus Sakoda Caricatures Portfolio</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/scripts.js"></script>
    <link rel="shortcut icon" href="../images/msLogo.png">
  </head>
  <body>
    <div class="overlay">
        <p><span  class="close-overlay">close</span></p>
        <div class="overlay-image-container">
            <span class="overlay-arrow inline-block rotate-180" value="prev"> &#10151; </span>
          <img class="overlay-image" src="" alt="">
            <span class="overlay-arrow inline-block" value="next"> &#10151; </span>
          <p class="overlay-image-description"></p>
        </div>
    </div>
    <div class="nav-bar">
      <div class="nav-logo">
        <a href="./index.html"><img src="../images/msLogo.png" alt="Marcus Sakoda Logo"></a>
      </div>
      <div class="nav-items">
        <div class="nav-item">
          <a href="./about.html">About</a>
        </div>
        <div class="nav-item">
          <a href="./gallery.html">Gallery</a>
        </div>
        <div class="nav-item">
          <a href="./commission.html">Commission</a>
        </div>
        <div class="nav-item">
          <a href="./contact.html">Contact</a>
        </div>
      </div>

    </div>

    <div id="jonBanner" class="hero">
      <div>
        <h1>Marcus Sakoda Caricatures</h1>
        <h2>Lifelike Caricatures</h2>
        <p><span class="arrowDown" id="arrowDown">&#10151;</span></p>
      </div>
    </div>

    <div id="indexGallery">
      <h1><a href='./gallery.html'>Gallery</a></h1>
      <div class="container">
        <div class="row">
          <div class="col-3" value="0">
            <div class="info" value="0">
              <p></p>
            </div>
          </div>
          <div class="col-3" value="1">
            <div class="info" value="1">
              <p></p>
            </div>
          </div>
          <div class="col-3" value="2">
            <div class="info" value="2">
              <p></p>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-3" value="3">
            <div class="info" value="3">
              <p></p>
            </div>
          </div>
          <div class="col-3" value="4">
            <div class="info" value="4">
              <p></p>
            </div>
          </div>
          <div class="col-3" value="5">
            <div class="info" value="5">
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="seeMore lightTransition"><a href='./gallery.html'>See More &#8680</a></div>
      <p><span class="arrowDown" id="arrowDown2">&#10151;</span></p>
    </div>
    <hr>

    <div id="commissionDiv">
      <h1>Give the gift of Caricature!</h1>
      <div class="commish-container">
        <div class="col-3" value="0">
          <div class="info" value="0">
            <p></p>
          </div>
        </div>
        <div class="col-3" value="1">
          <div class="info" value="1">
            <p></p>
          </div>
        </div>
      </div>
      <div class="seeMore lightTransition"><a href="./commission.html">Learn how to Order &#8680</a></div>

      <p><span class="arrowDown" id="arrowDown3">&#10151;</span></p>
    </div>
    <hr>

    <div id="contactDiv">
      <h1>Have questions?</h1>
      <p>Email me or message me on Facebook</p>
      <br>
      <h1>ADD YOUTUBE LINK</h1>
      <a href="mailto:marcussakoda@gmail.com"><img src="../images/email_icon_white.png" alt="email icon"></a>
      <a href="http://www.facebook.com/marcussakodacaricatures"><img src="../images/facebook_icon_white.png" alt=""></a>
    </div>

    <p id="backToTop"><span>Back to top &#8682;</span></p>

    <hr>

    <div class="footer">
      <p>©Marcus Sakoda 2017</p>
    </div>

  </body>
</html>
